.triangulo {
  right: 51px;
}

.post {
  display: flex;
  justify-content: center;
}

.post img {
  margin: 10px 0px 10px 10px;
  width: 30%;
  min-width: 30%; /* Necesario para que se vea bien en Firefox */
  height: 100%;
}

.descripcion {
  margin: 10px 0px 10px 2vw; /* Igualo margin-left de .descripcion con padding-right de .post */
  padding: 0px 10px;
}

.descripcion p:first-child {
  padding-top: 0px;
}

.descripcion p:last-child, .descripcion .desplegable:last-child {
  padding-bottom: 0px;
}

.desplegable {
  margin: 0px;
  padding: 9px 0px 9px;
}

.desplegable input {
  display: none;
}

.desplegable label {
  font-weight: bold;
  cursor: pointer;
}

.desplegable .oculto {
  overflow: hidden;
  height: 0px;
  opacity: 0;
}

.desplegable input:checked ~ label span {
  display: inline-block;
  transform: rotate(90deg);
}

.desplegable input:checked ~ .oculto {
  height: auto;
  opacity: 1;
  margin: 4.5px 23px 0px;
}

.desplegable input:checked ~ .oculto address {
  margin: 0px 10px;
}

@media (max-width: 800px) {
  .triangulo {
    right: calc(16.655% - 26px);
  }

  .post {
    flex-direction: column;
  }

  .post img {
    margin: 0px auto;
    width: 100%;
    object-fit: cover;
    height: 90vw;
  }

  .descripcion {
    margin: 0px;
    padding: 0px;
  }

  .descripcion > p:first-child {
    padding-top: 9px;
  }

  .descripcion .desplegable:last-child {
    padding-bottom: 9px;
  }
}
