.triangulo {
  right: 51px;
}

.post {
  display: flex;
  justify-content: center;
}

.post img {
  margin: 10px 0px 10px 10px;
  width: 30%;
  min-width: 30%; /* Necesario para que se vea bien en Firefox */
  height: 100%;
}

.descripcion {
  margin: 10px 0px 10px 2.35%; /* Igualo margin-left de .descripcion con padding-right de .post */
  padding: 0px 10px;
}

.descripcion p:first-child {
  margin-top: 0px;
}

.desplegable {
  margin: 16px 0px;
}

.desplegable input {
  display: none;
}

.desplegable label {
  font-weight: bold;
  cursor: pointer;
}

.desplegable .oculto {
  overflow: hidden;
  height: 0;
  opacity: 0;
}

.desplegable input:checked ~ label span {
  display: inline-block;
  transform: rotate(90deg);
}

.desplegable input:checked ~ .oculto {
  height: auto;
  opacity: 1;
  margin: 5px 23px;
}

.desplegable input:checked ~ .oculto p {
  margin: 0px;
}

.desplegable input:checked ~ .oculto address {
  margin: 5px 10px;
}
