html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #EDECE8;
  margin: 0;
  font-size: 1.125em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

a {
  text-decoration: none;
}

header {
  z-index: 10;
  width: 100%;
  height: 90px;
  background-color: #1B2025;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

header #logo {
  height: 45px;
  padding: 22.5px 10px;
}

header nav {
  height: 100%;
}

header ul {
  padding: 0;
  margin: 0 25px 0 0;
  height: 100%;
}

header li {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 15px;
  height: 100%;
}

header a {
  color: #EDECE8;
}

header .activo a {
  font-weight: bold;
  text-shadow: 0 0 15px #FFF;
  z-index: 5;
}

.triangulo {
  position: absolute;
  top: 88px;
  border: 26px solid transparent;
  border-top-color: #1B2025;
}

main {
  margin: 150px 0 126px;
}

section {
  width: 85%;
  background-color: #89C5C3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2vw;
  margin: 4% auto;
}

section p {
  text-align: justify;
  padding: 9px 0 9px;
  margin: 0;
}

footer {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
}

footer .social {
  margin: 0 3px;
}

footer .social img {
  width: 30px;
}

@media (max-width: 800px) {
  main {
    margin: 26px 0 106px;
  }

  header {
    position: initial;
    flex-direction: column;
    height: 110px;
  }

  header #logo {
    max-width: 80%;
    margin: 0 auto;
    height: 28px;
    padding-bottom: 0;
  }

  header nav {
    height: 35.714%;
  }

  header ul {
    margin: 0;
  }

  header li {
    width: 33.33%;
    padding: 0;
    float: left;
  }

  header a {
    text-align: center;
  }

  .triangulo {
    top: 100px;
  }

  section {
    margin: 4.5% auto;
    padding: 3vw;
  }

  footer {
    margin-bottom: 20px;
  }

  footer .social img {
    width: 40px;
  }
}
