.triangulo {
  right: 233px;
}

.region {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.region img {
  width: 30%;
  min-width: 30%; /* Necesario para que se vea bien en Firefox */
  height: 10%;
}

.descripcion {
  margin-left: 2.35%; /* Igualo margin-left de .descripcion con padding-right de .region */
}

.descripcion p {
  padding: 0px;
}

@media (max-width: 1000px) {
  .triangulo {
    right: calc(83.325% - 26px);
  }

  .region {
    align-items: initial;
    flex-direction: column;
  }

  .region img {
    width: 100%;
  }

  .descripcion {
    margin-left: 0%;
  }

  .descripcion p {
    margin: 3.191% 0% 0%;
  }
}
