.triangulo {
  right: 233px;
}

.region {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.region img {
  width: 30%;
  height: 10%;
}

/* Igualo margin-left de .descripcion con padding-right de .region (2% del 100% es igual al 2.35% del 85%). */
.descripcion {
  margin-left: 2.35%;
}

.descripcion p {
  margin: 10px 0px 10px;
}
