.region {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.region img {
  width: 30%;
  min-width: 30%; /* Necesario para que se vea bien en Firefox */
  height: 10%;
}

.descripcion {
  margin-left: 2vw;
}

.descripcion p {
  padding: 0;
}

@media (max-width: 800px) {
  .region {
    align-items: initial;
    flex-direction: column;
  }

  .region img {
    width: 100%;
  }

  .descripcion {
    margin-left: 0;
  }

  .descripcion p {
    margin: 3vw 0 0;
  }
}
